<div class="row-fluid js-grid">
  <% entries.each do |entry| %>
    <div class="js-grid-item col-sm-6 <%= css_class %>">
      <div class="thumbnail">
        <% if defined? entry.image %>
          <%= link_to entry.url do %>
            <%= image_tag entry.image, class: "img-responsive" %>
          <% end %>
        <% end %>
        <div class="caption">
          <h3><%= entry.title %></h3>
          <p>
            <% if defined? entry.summary %>
              <%= truncate_html(entry.summary.html_safe, :length => 300, :omission => "" , :escape => false) + "..." %>
            <% end %>
          </p>
          <p>
            <%= link_to "Leer más", entry.url, class: "btn btn-primary" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
