<%= content_for :title, "Inicio" %>

<div class="homepage">
  <div class="hero hero-first">
      <div class="container">
        <h1>Atención al Ciudadano <span>El Carchi</span></h1>
        <p>
          Bienvenido al lugar donde podrás realizar todos los trámites con el Gobierno de la Prefectura del Carchi, Ecuador. 
        </p>
      </div>
  </div>

  <div role="main" class="hero-first">
    <div class="container">
      <div class="row row1">
        <div class="span4 col3">
          <div class="box">
            <div class="inner">
              <h3>Audiencia</h3>
              <p> Producto 3.2 - Petición de audiencia con autoridades. </p>
              Petición de audiencia con autoridades (Prefecto y Viceprefecta). 
              <br>
              <br>
              <%= link_to "Pedir audiencia", audiencia_path, class: "btn btn-primary pull-left" %>
              <br>
              <br>
            </div>
          </div>
        </div>
        <div class="span4 col3">
          <div class="box">
            <div class="inner">
              <h3>Medio Ambiente</h3>
              <p> Producto 3.3 - Solicitud a la dirección de Medio Ambiente de plantas autoctonas para reforestación </p>
              <% ev_trees = Event.type_trees.first %>
              <% if ev_trees %>
                <%= ev_trees.title %>
                <br>
                <br>
                <%= link_to "Realizar solicitud", new_inscription_path(event_id: ev_trees), class: "btn btn-primary pull-left" %>
                <br>
                <br>
              <% end %>
            </div>
          </div>
        </div>
        <div class="span4 col3">
          <div class="box">
            <div class="inner">
              <h3>Casa de la Juventud</h3>
              <p>  Producto 3.4 - Calendario de actividades para jovenes. Casa Juventud.  </p>
              Actividades gratuitas del Carchi de Informática, Danza, etc.
              <br>
              <br>
              <%= link_to "Ver actividades", juventud_path, class: "btn btn-primary pull-left" %>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
