<%= content_for :title, "Actividades Casa de la Juventud" %>
<%= link_to "Volver al Inicio", root_path, class: "btn btn-warning pull-right" %>

<h1>Actividades Casa de la Juventud</h1>
              <p>    </p>
              Actividades gratuitas del Carchi de Informática, Danza, etc.

<h5>Producto 3.4 - Calendario de actividades para jovenes. Casa Juventud.</h5>
<p>Aquí puedes ver todas las Actividades realizadas por la Casa de la Juventud así como inscribirte a las actividades. Los ejemplos de actividades han sido tomados de <%= link_to "la propia web del Carchi", "http://carchi.gob.ec/juventud/", target: "_blank" %>. Una vez tu petición sea realizada recibirás un correo electrónico como acuse de recibo. Una vez lo haya revisado nuestra Casa de la Juventud te enviaremos otro correo, aceptando o denegando tu petición.</p>
<p>Por otro lado el funcionario tiene un panel de Administración donde puede ver todas las peticiones pendientes por resolver y aprobarlas o denegarlas.</p>

<br>

<div class="center">
  <div class="list-group">
  <% Event.type_activities.all.each do |event| %>
    <%= link_to new_inscription_path(event_id: event), class: "list-group-item" do %>
      <%= event.category.title %> - 
      <%= event.title %>
    <% end %>
  <% end %>
  </div>
</div>
