<%= content_for :title, "Actividades Casa de la Juventud" %>
<%= link_to "Volver al Inicio", root_path, class: "btn btn-warning pull-right" %>

<h1>Actividades Casa de la Juventud</h1>
<p>    </p>
Actividades gratuitas del Carchi de Informática, Danza, etc.

<h5>Cursos Casa Juventud.</h5>
<p>Aquí puedes ver las actividades realizadas por la Casa de la Juventud así como inscribirte a las actividades. Los ejemplos de actividades han sido tomados de <%= link_to "la propia web del Carchi", "http://carchi.gob.ec/juventud/", target: "_blank" %>. Una vez tu petición sea realizada recibirás un correo electrónico como acuse de recibo. Una vez lo haya revisado nuestra Casa de la Juventud te enviaremos otro correo, aceptando o denegando tu petición.</p>
<p>Por otro lado el funcionario tiene un panel de Administración donde puede ver todas las peticiones pendientes por resolver y aprobarlas o denegarlas.</p>

<br>

<div class="juventud row">
  <% Event.type_activities.all.each do |event| %>
    <div class="col-sm-10 col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> <%= event.title %> </h3>
        </div>
        <!-- div class="panel-body">
          <h5> <# event.description.truncate %> </h5>
        </div -->
        <div class="panel-footer">
          <%= link_to "Inscribirse", new_inscription_path(event_id: event), class: "btn btn-primary" %>
          <% if admin_user_signed_in? %>
            <%= link_to "Editar", edit_admin_event_path(event), class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
