<!-- PREFECTURA AUDIENCIA -->
<fieldset>
  <legend>Petición de Audiencia con el Prefecto</legend>

  <%= f.input :motive, required: true %>

  <%= f.input :office_show, as: :select, collection: options_for_select(['Sí', 'No'], 'No'), input_html: {class: 'js-office-show'}, required: true %>
  
  <div class="js-office-show-wrapper hide">
    <%= f.input :office %>
  </div>

  <%# f.input :appointed_at, as: :select, collection: Slot.all_hours %>

  <div class="panel panel-default audiencia">
    <div class="panel-heading">
      <h3 class="panel-title">Fecha y Hora</h3>
      <div class="hide" id="js-appointed-at-day"><%= @appointed_at_day %></div>
      <div class="hide" id="js-appointed-at-hour"><%= @appointed_at_hour %></div>
    </div>
    <div class="panel-body">
      <!-- tabs left -->
      <div class="tabbable">
        <p> Por favor selecciona un día y hora para la Audiencia. </p>
        <br>

        <ul class="nav nav-pills nav-stacked col-md-4">
          <% Slot.all.each do |slot| %>
            <li><a href="#<%= slot.next_day_slot_name %>" data-toggle="tab"><%= l slot.next_day_slot, format: :long %></a></li>
          <% end %>
          <% Slot.all.each do |slot| %>
            <li><a href="#<%= slot.nextweek_slot_name %>" data-toggle="tab"><%= l slot.nextweek_slot, format: :long %></a></li>
          <% end %>
        </ul>

        <div class="tab-content col-md-7">
          <% Slot.all.each do |slot| %>
            <div class="tab-pane" id="<%= slot.next_day_slot_name %>">
              <%= f.input :appointed_at, as: :select, include_blank: false, collection: slot.all_hours(slot.next_day_slot), input_html: { class: "list-group" } %>
            </div>
          <% end %>

          <% Slot.all.each do |slot| %>
            <div class="tab-pane" id="<%= slot.nextweek_slot_name %>">
              <%= f.input :appointed_at, as: :select, include_blank: false, collection: slot.all_hours(slot.nextweek_slot), input_html: { class: "list-group" } %>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>

</fieldset>
