<%= semantic_form_for(@inscription) do |f| %>

  <% if @inscription.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@inscription.errors.count, "error") %> han prohibido que esta inscripción se guarde:</h2>
      <ul> <% @inscription.errors.full_messages.each do |message| %> <li><%= message %></li> <% end %> </ul>
    </div>
  <% end %>

  <legend>Datos personales</legend>
  <%= f.input :event_id, as: :hidden, input_html: {value: @event.id} %>
  <%= f.inputs :document_id, :first_name, :last_name, required: true %>
  <%= f.input :sex, as: :select, collection: Inscription::SEX.to_a %>
  <%= f.input :born_at, start_year: 1900, end_year: Date.today.year-3 %>
  <%= f.inputs :provincia, :canton, :parroquia, :address, :phone, :email %>

  <% if @event.ttype_class == "audiencia" %>
    <%= render partial: "form_audiencia", locals: {f: f} %>
  <% end %>

  <% if @event.ttype_class == "actividad" %>
    <%= render partial: "form_actividad", locals: {f: f} %>
  <% end %>

  <% if @event.ttype_class == "plantas" %>
    <%= render partial: "form_plantas", locals: {f: f} %>
  <% end %>

  <%= f.actions do %>
    <%= link_to 'Cancelar', root_path, class: "btn btn-danger" %>
    <%= f.action :submit, button_html: { class: "btn btn-success" } %>
  <% end %>

<br>

<% end %>
