<%= content_for :title, @event.title %>
<%= link_to "Volver al Inicio", root_path, class: "btn btn-warning pull-right" %>

<div class="span11">
  <h1><%= @event.category.title %></h1>
  <h2><%= @event.title %></h2>
  <p><%= @event.description_html %></p>

  <%= render partial: "inscriptions/event_metadata", locals: {event: @event} %>
  <%= render 'form', locals: {inscription: @inscription} %>
</div>
