<%= content_for :title, @event.title %>
<% if @event.ttype_name == "Actividad" %>
  <%= link_to "Volver al listado de cursos", juventud_path, class: "btn btn-warning pull-right" %>
<% else %>
  <%= link_to "Volver al Inicio", root_path, class: "btn btn-warning pull-right" %>
<% end %>

<div class="span11">
  <h1><%= @event.title %></h1>

  <% if @event.has_reached_limit? %>
    <div class="alert alert-danger">
      <b>¡Atención!</b>
      Este curso ha llegado al límite de inscritos aceptados, por lo que ya no hay más plazas disponibles. Puedes inscribirte y te contactaremos si hay alguna plaza disponible.
    </div>
  <% end %>

  <p><%= @event.description_html %></p>

  <%= render partial: "inscriptions/event_metadata", locals: {event: @event} %>
  <%= render 'form', locals: {inscription: @inscription} %>
</div>
