<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @inscription.event %>
</p>

<p>
  <strong>First name:</strong>
  <%= @inscription.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @inscription.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @inscription.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @inscription.email %>
</p>

<%= link_to 'Edit', edit_inscription_path(@inscription) %> |
<%= link_to 'Back', inscriptions_path %>
