<footer>
  <div id="site_links" class="container donotprint">
    <div class="row-fluid">
      <div class="span6">
        <h2 class="footer_title">El Carchi</h2>
        <div class="row-fluid">
          <ul class="nav nav-list span6">
            <li>
              <%= link_to "Petición de Audiencia con Prefecto", audiencia_path %>
            </li>
            <li>
                <%= link_to "Solicitud para Gestión Ambiental", medio_ambiente_path %>
            </li>
            <li>
                <%= link_to "Actividades de la Casa de la Juventud", juventud_path %>
            </li>
          </ul>
          <ul class="nav nav-list span6">
          </ul>
        </div>
      </div>
      <div class="span3">
        <h2 class="footer_title">Compartir en redes</h2>  
        <ul class="nav nav-list">
	  <li><a target="_blank" href="https://www.facebook.com/sharer.php?u=<%= request.original_url %>"><i class="ckan-icon ckan-icon-fb"></i> Facebook</a></li>
	  <li><a target="_blank" href="https://twitter.com/share?url=<%= request.original_url %>"><i class="ckan-icon ckan-icon-twitter"></i> Twitter</a></li>
	  <li><a target="_blank" href="https://plus.google.com/share?url=<%= request.original_url %>"><i class="ckan-icon ckan-icon-gplus"></i> Google +</a></li>
        </ul>
      </div>
      <div class="span3">
        <h2 class="footer_title">Atención Ciudadana</h2>
        <ul class="nav nav-list">
            <li><a href="http://carchi.gob.ec/index.php/privacy-policy">Política de privacidad</a></li>
            <li><a href="https://github.com/alabs/carchi_tramites">Código fuente</a></li>
            <li> <%= link_to "Acceso al administrador", admin_root_path %> </li>
        </ul>

        <a href="http://creativecommons.org/licenses/by/3.0/es/" rel="external"><%= image_tag "cc_l_by_30_es_88x31.png" %></a>
      </div>
    </div>
  </div>

  <div id="banners" class="container donotprint">
    <div class="row-fluid">
      <div class="item span2">
        <%= link_to "https://gobiernoabierto.carchi.gob.ec" do %>
          <%= image_tag "banner_gobiernoabierto.png", alt: "Gobierno Abierto" %>
          Gobierno Abierto
        <% end %>
      </div>      
      <div class="item span2">
        <%= link_to "https://datosabiertos.carchi.gob.ec" do %>
          <%= image_tag "banner_datosabiertos.png", alt: "Datos Abiertos" %>
          Datos Abiertos
        <% end %>
      </div>      
    </div>  
  </div>

  <div id="copyright" class="container">
    <div class="copyright">
      2015 Prefectura del Carchi
    </div>  
    <div class="powered_by" style="text-align:right;">
	    Desarrollado y mantenido por <a href="http://www.aldhea.org/" target="_blank">Aldhea</a> y <a href="http://www.alabs.org/" target="_blank">aLabs</a>.
    </div>  
    <div class="logo">
      <%= image_tag "logo-footer.png", alt: "Gobierno Prefectura Carchi" %>
    </div>  
      <div class="social-buttons">
        <span class="fa-stack fa-1x">
          <a href="https://www.facebook.com/carchiprefectura" target="_blank">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	  </a>
        </span>
        <span class="fa-stack fa-1x">
          <a href="https://twitter.com/GADCarchi" target="_blank">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	  </a>
        </span>
        <span class="fa-stack fa-1x">
          <a href="https://www.youtube.com/user/CarchiProvincia" target="_blank">
            <i class="fa fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
	  </a>
        </span>
     </div>  
  </div>  
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67426802-3', 'auto');
    ga('send', 'pageview');

</script>


