<div id="header_logos" class="container">
  <div class="row-fluid">
    <a class="logo pull-left" href="/?locale=es"><%= image_tag "logo-header.png", alt: "El Carchi logo", style: "width:200px;" %></a>
  </div>
</div>

<nav id="nav_top" class="fullcontainer">
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner-inverse">
        <ul class="nav pull-right">
          <li>
            <a href="http://186.3.11.212/quipux/index.php" target="_blank">Trámites Online</a>
          </li>
          <li>
            <a href="http://carchi.gob.ec/index.php/noticias/itemlist/category/13-j%C3%B3venes-en-la-noticia" target="_blank">Bolsa de Trabajo</a>
          </li>
          <!-- li>
            <a href="#" target="_blank">Ayuda</a>
          </li -->
          <li>
            <a href="https://gobiernoabierto.carchi.gob.ec/es/news" target="_blank">Noticias</a>
          </li>
          <li>
            <a href="https://gobiernoabierto.carchi.gob.ec/es/areas/1-prefectura" target="_blank">La Prefectura</a>
          </li>
          <li>
            <a href="http://www.carchi.gob.ec/index.php/informacion-provincial/mapas-provinciales" target="_blank">La Provincia</a>
          </li>
          <li>
            <a href="http://carchi.gob.ec/index.php/contactos" target="_blank">Ayúdanos a mejorar</a>
          </li>
          <!-- li>
            <a href="#" target="_blank">Guía de Comunicación Abierta</a>
          </li -->
        </ul>
      </div>
    </div>
  </div>
</nav>

<header class="navbar navbar-static-top masthead">
  <div class="container">
    <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <hgroup class="header-image pull-left">
    </hgroup>
    <div class="nav-collapse collapse">
      <nav class="section navigation">
        <ul class="nav nav-pills">
          <li><%= link_to "Inicio", root_path %></li>
          <li><%= link_to "Petición Audiencia", audiencia_path %></li>
          <li><%= link_to "Gestión Ambiental", medio_ambiente_path %></li>
          <li><%= link_to "Actividades Casa de la Juventud", juventud_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
