<div id="header_logos" class="container">
  <div class="row-fluid">
    <a class="logo pull-left" href="/?locale=es"><%= image_tag "logo-header.png", alt: "El Carchi logo", style: "width:200px;" %></a>
  </div>
</div>
<header class="account-masthead">
  <div class="container">
    <nav class="account not-authed">
      <ul class="unstyled">
      </ul>
    </nav>
  </div>
</header>
<header class="navbar navbar-static-top masthead">
  <div class="container">
    <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <hgroup class="header-image pull-left">
    </hgroup>
    <div class="nav-collapse collapse">
      <nav class="section navigation">
        <ul class="nav nav-pills">
          <li><%= link_to "Inicio", root_path %></li>
          <li><%= link_to "Certificado de Pago", certificado_path %></li>
          <li><%= link_to "Petición Audiencia", audiencia_path %></li>
          <li><%= link_to "Medio Ambiente", medio_ambiente_path %></li>
          <li><%= link_to "Actividades Casa de la Juventud", juventud_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
